.container-cad{
    width: 850px;
    
    margin-top: 105px;
    padding: 10px;
}
.titulo-h2{
    margin: 20px 0px;
    text-align: center;
}
.btn-prom{
    width: 450px;
    position: relative;
    left: 30%;
}